/* .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
  width: 500px;
  border-radius: 5px;
  -webkit-box-shadow: 6px 3px 11px 0px rgba(41, 50, 50, 0.41);
  -moz-box-shadow: 6px 3px 11px 0px rgba(41, 50, 50, 0.41);
  box-shadow: 6px 3px 11px 0px rgba(41, 50, 50, 0.41);
}

.card__cover {
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.card__content {
  margin-left: 5px;
}

.tag {
  text-transform: uppercase;
}
.card__content h3 {
  margin: 0;
}

.submit {
  border-top: 1px solid #000;
  padding-left: 10px;
} */

.list__item {
  display: block;
  padding: 1rem;
  margin: 0 0 1rem 0;
  background: white;
  border-radius: 1rem;
  color: inherit;
  transition: all 0.2s ease;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.type {
  font-size: 1.25rem;
  text-transform: capitalize;
  color: inherit;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.type:hover {
  color: #e27;
}
.meta {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  color: dimgrey;
}
.meta > div {
  padding-right: 0.5rem;
}

.footer {
  padding-top: 5px;
}
