.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
  width: 500px;
  border-radius: 5px;
  -webkit-box-shadow: 6px 3px 11px 0px rgba(41, 50, 50, 0.41);
  -moz-box-shadow: 6px 3px 11px 0px rgba(41, 50, 50, 0.41);
  box-shadow: 6px 3px 11px 0px rgba(41, 50, 50, 0.41);
}

.card__cover {
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.card__content {
  margin-left: 5px;
}

.tag {
  text-transform: uppercase;
}
.card__content h3 {
  margin: 0;
}

.submit {
  border-top: 1px solid #000;
  padding-left: 10px;
}
