.back {
  background-color: #1e2630;
  min-height: 100vh;
}

.hero {
  height: 88vh;
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.image {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

.gallery {
  padding: 5vw;
}

.gallery_btn {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  height: 80px;
  border-radius: 5rem;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  padding: 0 0.6rem;
  align-items: center;
}

.gallery_btn span {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  justify-self: flex-start;
}

.message {
  color: #ccc;
  margin-bottom: 2rem;
  padding-left: 3vw;
}

/*  */

.overlap {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  justify-self: flex-end;
}

.overlap ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlap li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.overlap li img {
  border-radius: 50%;
}

.overlap p {
  font-size: 1.2rem;
  /* margin-left: 2px; */
  margin: 0;
}

.overlap li:nth-child(1) {
  background: blue;
}
.overlap li:nth-child(2) {
  background: green;
}
.overlap li:nth-child(3) {
  background: purple;
}
.overlap li:nth-child(4) {
  background: tomato;
}
.overlap li:nth-child(n + 2) {
  margin-left: -30px;
}

/*  */

.container {
  width: 100%;
}

.heading {
  color: #fff;
  display: flex;
  padding: 0 5vw;
  justify-content: space-between;
  align-items: center;
}

.heading span {
  color: #8250ca;
  cursor: pointer;
}

.contentWrapper {
  margin: 0 auto;
  /* max-width: 1200px; */
  display: flex;

  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* justify-content: center; */
  padding: 0.5rem;
}

.contentWrapper::-webkit-scrollbar {
  display: none;
}

.contentWrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.card {
  border: none;
  margin: 0.5rem;
  position: relative;
  height: 420px;
  overflow: hidden;
  border-radius: 3rem;
  flex: 1;
  width: 320px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.card__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}

.card__text {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: white;
  z-index: 1;
  margin-left: 0.5rem;
}

.card__title {
  transition: color 1s ease;
  margin-top: 0.2rem;
  margin-bottom: 1.5rem;
}

.card__postdate {
  font-size: 0.9rem;
  margin-bottom: 0rem;
  color: #ccc;
}

@media (min-width: 900px) {
  .card:hover .card__image {
    transform: scale(1.2);
  }
  .hero_text {
    font-size: 5rem;
  }
  .gallery_btn span {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
  }
  .gallery_btn {
    padding: 0 2rem;
  }
  .overlap ul:hover li:nth-child(n + 2) {
    margin-left: -10px;
  }
  .overlap li {
    width: 60px;
    height: 60px;
  }
  .contentWrapper {
    padding: 0 5vw;
  }
}
@media screen and (max-width: 400px) {
  .hero_text {
    font-size: 2rem;
  }
  .gallery_btn span {
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    max-width: 80px;
    word-wrap: break-word;
  }
}
