.card {
  font-family: "Lato", Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  color: #2b2b2b;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.card .profileImage {
  /* padding: 15% 10% 0; */
  height: 200px;
  width: 200px;
  margin: 30px auto 20px auto;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(20px);
  border-radius: 50%;
  padding-top: 10px;
}

.card .profileImage img {
  border-radius: 50%;
}

.card figcaption {
  padding: 5% 10% 15%;
}

.card h3 {
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
  color: #d5d5d5;
}

.card h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #b0b0b0;
  letter-spacing: 1px;
}

.card .icons {
  margin-top: 5px;
}

.card .icons .ic {
  color: rgb(151, 140, 140);
  display: inline-block;
  margin-right: 5px;
  font-size: 1.5em;
}

.card .icons .ic:hover {
  color: #555;
}
