.container {
  margin: 0 10vw;
}

.table {
  min-width: 80vw;
  width: auto;

  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
}

.table th {
  width: 100px;
  height: 70px;
}

.slot {
  text-align: center;
}

.table,
.table td {
  border: 0.2px solid rgba(180, 180, 180, 0.3);
  border-collapse: collapse;
}

.double tr {
  align-items: center;
  vertical-align: middle;
}
.double td {
  border: none;
}
@media (hover: hover) and (pointer: fine) {
  .table td:hover {
    font-size: 30px;
    font-weight: 600;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0;
  }
}
