.container {
  width: auto;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
}

.container th {
  width: 100px;
  height: 80px;
}

.slot {
  text-align: center;
}

.table,
.table td {
  border: 0.2px solid rgba(180, 180, 180, 0.3);
  border-collapse: collapse;
}

.double tr {
  align-items: center;
  vertical-align: middle;
}
.double td {
  border: none;
}

.table td:hover {
  font-size: 30px;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .container th {
    width: 50px;
    height: 80px;
  }
}
